/* Google Font */

body {
	font-family: 'Open Sans', sans-serif;
}

/* CSS Reset*/
/*it will change it to default since there are different browsers*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	/* padding-top: 0.8rem;
	padding-right: 0.8rem;
	padding-bottom: 0.8rem;
	padding-left: 0.8rem;*/
	/* shorthand property same reult
	padding:  0.rem;*/
	
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	/*list-style-type: none;*/
}


nav li{
	list-style-type: none;
}

/*margin vs padding*/
/*margin is best used when creating space between elements*/
/*padding is best used when creating space between an element's border and it's content*/


nav .nav, nav .nav-logo {
	/*margin-top:  0.5;
	margin-right  0.5;
	margin-bottom  0.5;
	margin-left  0.5;
	*/
	margin: 0.5rem;
	/*changes elements to inline elements*/
	display: inline;
}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
	/*short hand*/
	/*padding:  2rem 10% 3rem*/
}

.header {
	text-align: center;
	/*best used when horizontally aligning text instead of using our marginsand padding*/
}

#intro h2, #intro p {
	/*this creates space between intro section*/
	margin-bottom: 1rem;
}

#intro button {
	color: white;

	/*changes the thickness of our text*/
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	/*creates space between the button text and the border*/
	padding: 1rem;
}

/*succeed info section*/
/*exact same properties as the intro section but can have it's own CSS rules for flexibility*/

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	/*padding-bottom: 3rem;*/
}

#succeed-info h2 {
	margin-bottom: 1rem;
	/*this creates a space between the header and the card*/
}

/*#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}*/

#succeed-info .card {
	/*display: inline-block;*/
	vertical-align: top;
	min-height: 150px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/*footer*/
footer {
	padding: 0.7rem;
	/*creates space between span tags and the footer border*/
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	
}


#pre-footer {
		color: white;
		height: 200px;
		border: 1px;
		background-color: #001a33;
		padding-top: 1rem;
}

#pre-footer h3 {
	margin-top: 1rem;
}

#pre-footer h3 {
	text-align: left;
	/*margin-bottom: 1rem;*/
}

#pre-footer .footer {
	display: inline-block;
	vertical-align: top;
	width: 10%;
	margin-left: 3rem;
	margin-right: 3rem
}

